@font-face {
  font-family: "Josefin";
  src: url("/fonts/JosefinSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin";
  src: url("/fonts/JosefinSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin";
  src: url("/fonts/JosefinSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: black;
  line-height: 2rem;
}

h1 {
  font-family: "Josefin", sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.4rem;
  letter-spacing: 0.015em;
  text-transform: capitalize;
}

h2 {
  font-family: "Josefin", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.2rem;
  letter-spacing: 0.015em;
  text-transform: capitalize;
}

h3 {
  font-family: "Josefin", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.4rem;
  letter-spacing: 0.015em;
  text-transform: capitalize;
}

h4 {
  font-family: "Josefin", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 0.015em;
  text-transform: capitalize;
}

.subtitle {
  font-family: "Josefin", sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.2rem;
}

.subtitle-2 {
  font-family: "Josefin", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.8rem;
}

.subtitle-3 {
  font-family: "Josefin", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
}

.subtitle-4 {
  font-family: "Josefin", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}

.p-large {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.p-medium {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}

.p-large-bold {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}

.p-small {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

label {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}

.label-bold {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}

.label-small {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.card-shadow {
  box-shadow: 8px 24px 32px -16px #10175026;
  transition: box-shadow 0.3s ease-in-out;
}

.card-shadow:hover {
  box-shadow: 8px 64px 80px -16px #10175026;
}
